<h1>Picks</h1>

<%= render partial: "shared/datepicker", locals: {date: @date, path: @path} %>

<table class="table">
  <thread>
    <tr>
      <th>
        Game
      </th>
      <% @users.each do |user| %>
        <th><%= user.displayname %>'s Pick</th>
      <% end %>
    </tr>
  </thread>

  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.short_name %></td>
      <% @users.each do |user| %>
        <% pick = game.get_user_pick(user) %>
        <td><%= (pick) ? pick.team.fullname.titleize : 'N/A' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>