/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  text-align: center;
}

input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button, /* Removes arrows */
input::-webkit-clear-button { /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}

#page-wrapper {
	min-height:100%;
	position:relative;
	padding: 0;
	margin: 0;
}

#page-wrapper .alert {
	display: none;
	padding: 3px;
	text-align: center;
	background-color: white;
}

.content {
	margin: 0;
	padding: 0;
	background-color: #666;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #999;
	height: 100%;
	padding-bottom:60px;   /* Height of the footer */
}

.focus-box {
	border-width: 2px;
	border-color: #888;
	border-radius: 5px;
	border-style: solid;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	background-color: #AAA;
}

.game-box {
	width: 80%;
}

.game-box table {
	table-layout: fixed;
}

.game-box table .game-col,
.game-box table .pick-col {
	height: 45px;
	font-size: 16px;
}

.game-box table .game-col:nth-child(1),
.game-box table .game-col:nth-child(2),
.game-box table .game-col:nth-child(4),
.game-box table .game-col:nth-child(5) {
  width: 250px;
}

.game-box table .game-col:nth-child(3) {
  width: 10px;
}

.game-box table button.pick-team-link {
	width: 245px;
	height: 40px;
	margin: 3px;
	padding: 0px 10px 0px 10px;
	border: 0;
	border-radius: 3px;
	outline: none;
	font-size: 16px;
	background-color: white
}


.signin-box {
	width: 300px;
}

.focus-box table.center {
	margin-left: auto;
	margin-right: auto;
}

.focus-box table.center input {
	width: 250px;
	height: 40px;
	margin: 3px;
	padding: 0px 10px 0px 10px;
	border: 0;
	border-radius: 3px;
	outline: none;
	font-size: 16px;
}

.focus-box table.center input[type="email"],
.focus-box table.center input[type="text"],
.focus-box table.center input[type="password"],
.focus-box table.center input[type="number"] {
	width: 230px;
}

.focus-box a {
	color: #333;
}

.focus-box h1 {
	margin: 0;
	padding: 5px;
	color: #333;
}

.day-selector a {
	font-size: 16px;
	padding: 10px;
	height: 40px;
}