<div class="center">
	<div>Nightly Pick'ems in no way endourses gambling of any form. It is intended for friendly competition only.</div>
	<div>Nightly Pick'ems is in no way associated to any sports leagues being followed by this platform.</div>
</div>