<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="container top-buffer">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Teams", teams_path %>
      </li>
      <li>
        <%= link_to "Games", games_path %>
      </li>
    </ul>
  </div>
</div>